@{
    ViewBag.Title = "Carrinho";
}

@model Aula.Models.PedidoViewModels.CarrinhoViewModel
<br />
<br />
<br />
<h3>Meu Carrinho</h3>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">item(s)</div>
                <div class="col-md-2 text-center">preço unitário</div>
                <div class="col-md-2 text-center">quantidade</div>
                <div class="col-md-2 text-right">subtotal</div>
            </div>
        </div>
        <div class="panel-body">
        @foreach (var item in Model.ItensCarrinho)
        {
            <div class="row vcenter item-pedido" item-id=@item.Id>
                <div class="col-md-3"><img src="~/images/produtos/small_@(item.Produto.Id).jpg" /></div>
                <div class="col-md-3">@item.Produto.Descricao</div>
                <div class="col-md-2 text-center">R$ @item.PrecoUnitario</div>
                <div class="col-md-2 text-center">
                
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" 
                                    data-field="quant[1]">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="quant[1]" class="form-control input-number text-center" 
                               value="@item.Quantidade" min="1" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" 
                                    data-field="quant[1]" onclick="handleIncremento(this)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>

                </div>
                <div class="col-md-2 text-right">R$ @(item.Quantidade * item.PrecoUnitario)</div>
            </div>
        }
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">Total (@Model.ItensCarrinho.Count() itens)</div>
                <div class="col-md-2 text-right">R$ @Model.Total</div>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-action="Resumo" 
           asp-controller="Pedido" 
           class="btn btn-success pull-right">
            Finalizar Pedido
        </a>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function handleIncremento(el) {
            var itemId = $(el).parents('.item-pedido').attr('item-id');
            var novaQtde = $(el).parents('.item-pedido').find('input').val();

            var data = {
                Id: itemId,
                Quantidade: novaQtde
            };

            $.ajax({
                type: 'POST',
                url: '/api/Carrinho',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data)
            });
        }
    </script>
}