@{ 
    ViewData["Title"] = "Carrinho";
}

@model CasaDoCodigo.Models.ViewModels.CarrinhoViewModel
<h3>Meu Carrinho</h3>

<form method="post">
    @Html.AntiForgeryToken();
</form>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.Itens)
        {
            <div class="row row-center" item-id="@item.Id">
                <div class="col-md-3">
                    <img src="~/images/produtos/small_@(item.Produto.Id).jpg" />
                </div>
                <div class="col-md-3">@item.Produto.Nome</div>
                <div class="col-md-2 text-center">R$ @item.PrecoUnitario</div>
                <div class="col-md-2 text-center">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    onclick="carrinho.clickDecremento(this)">
                                <span class="glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" value="@item.Quantidade"
                               class="form-control text-center"
                               onblur="carrinho.updateQuantidade(this)"/>                        
                        <span class="input-group-btn">
                            <button class="btn btn-default" 
                                    onclick="carrinho.clickIncremento(this)">
                                <span class="glyphicon-plus">
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    R$ <span class="pull-right" subtotal>
                        @item.Subtotal
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>Total: @Model.Itens.Count() 
                    @(Model.Itens.Count() < 2 ? "item" : "itens")</span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="pull-right" total>
                    @Model.Total
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a asp-action="carrossel"
               class="btn btn-success">
                Adicionar Produtos
            </a>
            <a asp-action="cadastro"
               class="btn btn-success">
                Preencher Cadastro
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/carrinho.js"></script>
}