@model Pedido

<h3>Cadastro</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="resumo" method="post">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" 
                           for="nomeCliente">Nome do Cliente</label>
                    <input type="text" class="form-control" id="nomeCliente"
                           placeholder="Digite o seu nome" 
                           asp-for="Nome" 
                           value="@Model.Nome">
                    <span asp-validation-for="Nome" class="text-danger"/>
                </div>
                <div class="form-group">
                    <label class="control-label" 
                           for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email"
                           placeholder="Digite o e-mail" 
                           asp-for="Email"
                           value="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" 
                           for="endereco">Endereço de Entrega</label>
                    <input type="text" class="form-control" id="endereco"
                           placeholder="Digite o endereço" 
                           asp-for="Endereco"
                           value="@Model.Endereco">
                    <span asp-validation-for="Endereco" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label" 
                           for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento"
                           placeholder="Número, apto, bloco, etc." 
                           asp-for="Complemento"
                           value="@Model.Complemento">
                    <span asp-validation-for="Complemento" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label" 
                           for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro"
                           placeholder="Digite o bairro" 
                           asp-for="Bairro"
                           value="@Model.Bairro">
                    <span asp-validation-for="Bairro" class="text-danger" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" 
                           for="municipio">Município</label>
                    <input type="text" class="form-control" id="municipio"
                           placeholder="Digite o município" 
                           asp-for="Municipio"
                           value="@Model.Municipio">
                    <span asp-validation-for="Municipio" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label" 
                           for="uf">UF</label>
                    <input type="text" class="form-control" id="uf"
                           placeholder="Digite o uf" 
                           asp-for="UF"
                           value="@Model.UF">
                    <span asp-validation-for="UF" class="text-danger" />
                </div>
                <div class="form-group">
                    <label class="control-label" 
                           for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep"
                           placeholder="Digite o cep" 
                           asp-for="CEP"
                           value="@Model.CEP">
                    <span asp-validation-for="CEP" class="text-danger" />
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="pull-right btn btn-success"
                            id="btnFinalizar">
                        Finalizar Compra
                    </button>
                </div>
            </div>
            <br />
        </form>
    </div>
</div>
