@model CarrinhoViewModel
<h3>Meu Carrinho</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">item</div>
            <div class="col-md-2 text-center">preço unitário</div>
            <div class="col-md-2 text-center">quantidade</div>
            <div class="col-md-2 text-right">subtotal</div>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.ItensCarrinho)
        {
        <div class="row row-center">
            <div class="col-md-3"><img src="~/images/produtos/small_@(item.Produto.Id).jpg" /></div>
            <div class="col-md-3">@item.Produto.Descricao</div>
            <div class="col-md-2 text-center">R$ @item.PrecoUnitario</div>
            <div class="col-md-2 text-center">@item.Quantidade</div>
            <div class="col-md-2 text-right">R$ @(item.PrecoUnitario * item.Quantidade)</div>
        </div>
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-2 text-center col-md-offset-8">Total (@(Model.ItensCarrinho.Count()) itens)</div>
            <div class="col-md-2 text-right">R$ @Model.Total</div>
        </div>
    </div>
</div>
<div class="row">
    <a asp-controller="pedido"
       asp-action="resumo" type="button" 
       class="btn btn-success pull-right">
        Finalizar Pedido
    </a>
</div>