@model Pedido
<h3>Resumo do Pedido</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6"><h4>Nº do Pedido: @Model.Id</h4></div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6"><h4>Seus Dados</h4>
            <div class="row">
                <div class="col-md-6">@Model.Nome<br />(11)1234-5678</div>
                <div class="col-md-6">@Model.Email</div>
            </div>
            </div>
            <div class="col-md-6">
                <h4>Endereço de Entrega</h4>
                <div>@Model.Endereco @Model.Complemento, @Model.Bairro - @Model.Municipio - @Model.UF</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6"><h4>Item</h4></div>
            <div class="col-md-6 text-right"><h4>Quantidade</h4></div>
        </div>
        @foreach (var item in Model.Itens)
        {
        <div class="row">
            <div class="col-md-6">@item.Produto.Descricao</div>
            <div class="col-md-6 text-right">@item.Quantidade</div>
        </div>
        }
    </div>
</div>

<div class="row">
    <span class="pull-right">
        <a asp-action="carrossel"
           class="btn btn-success">
            Novo Pedido
        </a>
    </span>
</div>